.formsignin{
    width: 300px;
    margin: 15px auto auto auto;
}
.formsignin input {
    margin: 3px 0;
}
.formsignin p{
    text-align: center;
}
.order{
    text-align: center;
}
.pagin{
    margin-top: 50px;
    text-align: center;
}
.registration-button{

}
.product-img {
    background-color: grey;
    height: 200px !important;
}
.left-side-bar {
    float: left;
}

